@model RecipeBook.Models.Recipe
@using RecipeBook.Models

<div class="content">
    <div class="details">
        <h2>@Model.Name Details</h2>
        <p>Description: @Model.Description</p>
        <p>Instructions: @Model.Instructions</p>
        <img src="@Model.ImageUrl" alt="Recipe Image" />
        <p>Rating: @Model.Rating</p>

        @if (@Model.IRJoin.Count == 0)
        {
            <p>This recipe does not contain any ingredients</p>
        }
        else
        {
            <h4>Ingredients:</h4>
            <ul>
                @foreach (IngredientRecipe join in Model.IRJoin)
                {
                    <li>@join.Ingredient.Name - @join.Quantity </li>
                }
            </ul>
        }

        @if (@Model.RTJoin.Count == 0)
        {
            <p>This recipe does not have any tags</p>
        }
        else
        {
            <h4>Tags:</h4>
            <ul>
                @foreach (RecipeTag join in Model.RTJoin)
                {
                    <li>@join.Tag.Name</li>
                }
            </ul>
        }

        <br />
       @* add this later to if statement
        && Model.User.Id == User.Identity.Name*@


        @if (User.Identity.IsAuthenticated )
        {
            @Html.ActionLink("Edit Recipe", "Edit", new { id = Model.RecipeId }, new { @class = "btn btn-warning" })
            
            @Html.ActionLink("Delete Recipe", "Delete", new { id = Model.RecipeId }, new { @class = "btn btn-danger" })
        }
        
        @Html.ActionLink("Back To List", "Index", "Recipes", null, new { @class = "btn btn-primary" }) 
        

        @Html.ActionLink("Edit Recipe", "Edit", new { id = Model.RecipeId }, new { @class = "btn btn-warning" }) |
        @Html.ActionLink("Delete Recipe", "Delete", new { id = Model.RecipeId }, new { @class = "btn btn-danger" }) |
        @Html.ActionLink("Back To List", "Index", "Recipes", null, new { @class = "btn btn-primary" })


    </div>
</div>