@using RecipeBook.Models;
<div class="center">
    <h2>Recipes</h2>
</div>
@if (Model.Count == 0)
{
    <h4>No recipes have been submitted.</h4>
}
<div class="recipe-display">
    @foreach (Recipe r in Model)
    {
        <a href="@Url.Action("Details", new { id = r.RecipeId })" class="recipe">
            <div>
                <img src="@r.ImageUrl" alt="Recipe Image">
                <hr />
                <h3>@r.Name</h3>
            </div>
        </a>
    }
</div>

@if (User.Identity.IsAuthenticated)
{
    @Html.ActionLink("Add A New Recipe", "Create")
}
else
{
    <p>@Html.ActionLink("Login To Add A Recipe", "Login", "Account", null, new { @class = "btn btn-primary" })</p>
}