@if (User.Identity.IsAuthenticated)
{
    <p>Signed in as: @User.Identity.Name</p>
    @using (Html.BeginForm("LogOff", "Account"))
    {
        <input type="submit" class="btn btn-default" value="Log out" />
    }
}
else
{
    <p>@Html.ActionLink("Register", "Register", "Account")</p>
    <p>@Html.ActionLink("Log in", "Login", "Account")</p>
}
<p>@Html.ActionLink("Home", "Index", "Home")</p>
<p>@Html.ActionLink("Recipes", "Index", "Recipes")</p>

<div id="navbar">
    <img src="~/assets/images/dishlogo.png" alt="dish logo" />
    <img src="~/assets/images/textlogo.png" alt="dish logo" />
</div>

@using (Html.BeginForm("Index", "Search", FormMethod.Get))
{
    @Html.Label("searchType", "Search for:")
    @Html.RadioButton("searchType", "rec", true, new { id = "rec-radio" }) <label for="rec-radio">Recipe</label>
    @Html.RadioButton("searchType", "ing", new { id = "ing-radio" }) <label for="ing-radio">Ingredient</label>
    @Html.RadioButton("searchType", "ing-rec", new { id = "ing-rec-radio" }) <label for="ing-rec-radio">Recipe by ingredient</label>
    @Html.TextBox("searchTerm")

    <input type="submit" value="Search">
}
